body{
    padding: 0;
    margin: 0;
    background-color: aquamarine;
}
h1{
padding: 40px;
background-color:#CFFFDC;
height: 100%;
text-align: center;
margin: 0;

}
.parent{
    font-family: cursive;
    margin-top: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#D4DE95;

}
.pass{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#253D2C;
    border-radius: 30px;
     
}
.pass input{
    background-color:#161B1F;
    color:#e5e7eb;
    outline: none;
    border-radius:50px;
    border:none;
}

.pass button{
    margin-left: 20px;
    border-radius: 60px;
    background-color: #7c3aed;
    color:white;
    border: none;
    cursor: pointer;
}
.checkbox{
    margin-top: 10px;
     border-radius: 60px;
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.checkbox .length{
    width: 150px;
    background-color: aqua;
}